<div class="content">
    <i class="pi pi-hashtag"><h3 style="display: inline;"> Languages: </h3></i>
    <p-tag value="C/C++"></p-tag>
    <p-tag value="Java"></p-tag>
    <p-tag value="Python"></p-tag>
    <p-tag value="C#"></p-tag>
    <p-tag value="Dart"></p-tag>
</div>

<div class="content">
    <i class="pi pi-desktop"></i><h3 style="display: inline;"> Web development: </h3>
    <p-tag value="Angular"></p-tag>
    <p-tag value="HTML"></p-tag>
    <p-tag value="CSS"></p-tag>
    <p-tag value="Typescript"></p-tag>
</div>

<div class="content">
    <i class="pi pi-android"></i><h3 style="display: inline;"> Mobile development: </h3>
    <p-tag value="Flutter"></p-tag>
    <p-tag value="Android Studio"></p-tag>
</div>

<div class="content">
    <i class="pi pi-code"></i><h3 style="display: inline;"> Game development: </h3>
    <p-tag value="Unity"></p-tag>
    <p-tag value="Blender"></p-tag>
</div>

<div class="content">
    <i class="pi pi-database"></i> <h3 style="display: inline;"> Databases: </h3>
    <p-tag value="MySQL"></p-tag>
    <p-tag value="SQL Server"></p-tag>
    <p-tag value="SQLite"></p-tag>
    <p-tag value="H2"></p-tag>
</div>
<div class="content">
    <i class="pi pi-wrench"></i><h3 style="display: inline;"> Tools and Frameworks: </h3>
    <p-tag value="SpringBoot"></p-tag>
    <p-tag value="Selenium"></p-tag>
    <p-tag value="xUnit"></p-tag>
    <p-tag value="StreamLit"></p-tag>
    <p-tag value="Cucumber"></p-tag>
    <p-tag value="Liquibase"></p-tag>
    <p-tag value="Teamcity"></p-tag>
    <p-tag value="Jira"></p-tag>
    <p-tag value="Git"></p-tag>
    <p-tag value="IntelliJ"></p-tag>
    <p-tag value="Visual Studio"></p-tag>
    <p-tag value="Eclipse"></p-tag>
</div>