.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item{
    padding: 20px;
}
:host ::ng-deep .p-tag{
    margin: 5px;
    padding: 5px;
}

:host ::ng-deep .p-card{
    transition: 0.2s;
}

:host ::ng-deep .p-card:hover{
    transform: scale(1.03);
    border: solid lightskyblue 0.5px;
}