<p-card>
    <div style="display: flex;padding: 10px;">
        <div style="flex: 3">
            <h1 style="display: inline;">Aswatth Ganapathy Subramanaian</h1>
            <h2>Boston, MA</h2>
            <h4>An enthusiastic individual looking to explore new ways to unlock a computer's potential.</h4>
            <div style="display: flex;">
                <div class="grid-item">
                    <a href="https://github.com/Aswatth/"><p-button icon="pi pi-github" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item">
                    <a href="aswatth56@gmail.com"><p-button icon="pi pi-envelope" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item">
                    <a href="https://linkedin.com/in/aswatth-g-25363a268"><p-button icon="pi pi-linkedin" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item">
                    <a href="http://www.hackerrank.com/Aswatth"><p-button icon="pi pi-code" styleClass="p-button-rounded"></p-button></a>
                </div>
            </div>
        </div>
    </div>
</p-card>