<p-card>
    <div style="display: flex;padding: 10px;">
        <div style="flex: 3">
            <h1 style="display: inline;">Aswatth Ganapathy Subramanaian</h1>
            <h2>Boston, MA</h2>
            <h4>An enthusiastic individual looking to explore new ways to unlock a computer's potential.</h4>
            <div style="display: flex;">
                <div class="grid-item" pTooltip="Github" tooltipPosition="bottom">
                    <a href="https://github.com/Aswatth/" target="_blank"><p-button icon="pi pi-github" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item" pTooltip="Mail" tooltipPosition="bottom">
                    <a href="mailto:aswatth56@gmail.com" target="_blank"><p-button icon="pi pi-at" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item" pTooltip="LinkedIn" tooltipPosition="bottom">
                    <a href="https://linkedin.com/in/aswatth-g-25363a268" target="_blank"><p-button icon="pi pi-linkedin" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item" pTooltip="Hackerrank" tooltipPosition="bottom">
                    <a href="http://www.hackerrank.com/Aswatth" target="_blank"><p-button icon="pi pi-code" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item" pTooltip="PlayStore" tooltipPosition="bottom">
                    <a href="https://play.google.com/store/apps/developer?id=SA+Games+Inc." target="_blank"><p-button icon="pi pi-google" styleClass="p-button-rounded"></p-button></a>
                </div>
                <div class="grid-item" pTooltip="Resume" tooltipPosition="bottom">
                    <a href="./assets/Aswatth-Resume.pdf" target="_blank"><p-button icon="pi pi-user" styleClass="p-button-rounded"></p-button></a>
                </div>
            </div>
        </div>
    </div>
</p-card>