<app-personal-info></app-personal-info>
<hr>
<p-tabView>
    <p-tabPanel header="Experience">
        <app-experience></app-experience>   
    </p-tabPanel>
    <p-tabPanel header="Education">
        <app-education></app-education>    
    </p-tabPanel>
    <p-tabPanel header="Projects">
        <app-projects></app-projects>
    </p-tabPanel>
    <p-tabPanel header="Skills">
        <app-skills></app-skills>
    </p-tabPanel>
    <p-tabPanel header="Achievements">
        <app-achievements></app-achievements>
    </p-tabPanel>
</p-tabView>